# Creation of a 911 emergency response db

In [3]:
import os.path

# first let's load up the dataset
# the unzipped csv is too large for github so teammates will need to unzip it locally before continuing

assert os.path.isfile("../Raw Data/911.csv"), "You must unzip the raw data before continuing"

In [5]:
import pandas as pd

# load the data into a pandas dataframe

raw_df = pd.read_csv("../Raw Data/911.csv")
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663522 entries, 0 to 663521
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   lat        663522 non-null  float64
 1   lng        663522 non-null  float64
 2   desc       663522 non-null  object
 3   zip        583323 non-null  float64
 4   title      663522 non-null  object
 5   timeStamp  663522 non-null  object
 6   twp        663229 non-null  object
 7   addr       663522 non-null  object
 8   e          663522 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 45.6+ MB

In [6]:
# let's take a look at the first few rows'
raw_df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [13]:
raw_df["e"].value_counts()

e
1    663522
Name: count, dtype: int64

In [14]:
# I want to develop some more nuance in the title column.
# perhaps can split on the colon (:) to determine the category of call

def get_category(title):
    return title.split(":")[0].strip()

raw_df["category"] = raw_df["title"].apply(get_category)
raw_df["category"].value_counts()

category
EMS        332692
Traffic    230208
Fire       100622
Name: count, dtype: int64